@import 'base/listas';
@import 'base/extends';
@import 'base/variables';
@import 'base/mixins';


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(250, 251, 255), rgba(219, 233, 236, 0.5)), url(../images/AnyConv.com__ladrillo\(1\).webp);
}

 /* Inicio del Header y nav  */
 @import 'components/header';
 
 
 
 /* Inicio del main  */
 @import 'components/main';

 
 
 /*Inicio de footer*/
 @import 'components/footer';


 @import './components/seccion-productos';
 @import './components/seccion-contacto';
 @import './components/como-comprar';
 @import './components/seccion-quienes';
 @import './components/medias';