@import 'base/listas';
@import 'base/extends';
@import 'base/variables';
@import 'base/mixins';


* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(rgb(101, 76, 160), rgba(179, 160, 160, 0.5)), url(../images/AnyConv.com__ladrillo\(1\).webp);
    
    
}

 /* Inicio del Header y nav  */
 @import 'components/header';
 
 
 
 /* Inicio del main  */
 @import 'components/main';

 
 
 /*Inicio de footer*/
 @import 'components/footer';


@media (max-width:768px){
    
    .main-container{
      grid-template-areas: 
      "product product"
      "map map"; 
      display: inline;
      
      .aside{
        display: none;
    }
    }

    

    .card-1, .card-2, .card-3, .card-4, .card-5{
        width: 210px !important;
        height: 240px !important;
    }

  

}
  
@media (max-width:960px){
    
    .main-container{
        
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       grid-template-areas: 
      "aside aside aside"
      "product product product"
      "map map map"; 
    }
    
    .footer-container{ 
    .footer-row { 
        grid-template-areas:
      "column1 column3 column3"
      "column1 column2 column2";
    }
}
   
   
    .card-1, .card-2, .card-3, .card-4, .card-5{
        width: 210px !important;
        height: 240px !important;
        
    }

    #img-promo{
        width: 30% !important;
        height: 25% !important;
    }
     
}


@import './components/seccion-productos';
@import './components/seccion-contacto';
@import './components/seccion-quienes';