@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';


.header-container{
    color: nth($colores, 3);
    .mensaje-container {
     font-family: sans-serif;
     background-color: nth($colores, 4);
     @extend %flex-center;
     #mensaje{
        font-size: 20px;
        color: nth($colores, 5);
        
    }
 
}


  .logo-nav {
     @extend %flex-center;
     height: 280px;
     align-items: center;
     background-image: url(..//..//images/wine-6878013__340.webp);
     cursor: pointer;   
     img{
        @include tamaño (256px, 188px);
     }
     

}   
 

  .container-fluid {
     background-color: nth($colores, 6);
     .nav-link{
         color: nth($colores, 7);
     }
     #navbarNav {
         justify-content: space-around;
         font-size: 20px;    
     }
     
 }
 
 }

