/* HTML SECCION QUIENES SOMOS */

.info-container{
    border: 2px solid salmon;
    margin: 20px 20px;
    padding: 20px 20px;
    
        
    

.text-somos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: nth($colores, 8);
}

}