@import '../base/mixins';
@import '../base/listas';
/* HTML SECCION CONTACTO */



.contact-form{
    background-color: nth($colores, 11);
    @include tamaño (400px, 600px);
    border: 2px solid black;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    

    h2{
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }

    input{
        @include tamaño(300px, 35px)
        
    }

    textarea{
        @include tamaño(300px, 100px)
                 
    }
    
    
}
